/* Обнуление стилей по умолчанию. Взято отсюда: https://youtu.be/kfOe-F64C_A?list=PLM6XATa8CAG4F9nAIYNS5oAiPotxwLFIr*/

/* убираем все отступы и рамки */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* Эта штука меняет подсчет ширины блока так чтобы нам было удобней верстать */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* убираем линии обводки у некоторых браузеров */
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

/* перечисляем некоторые теги и делаем ихблочными */
nav,
footer,
header,
aside {
  display: block;
}

/* К тегам HTML и BODY применяем парметры которые уравниваю поведение шрифтов и элементов для разных браузеров */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
/* Теги форм теперь наследуют шрифт */
input,
button,
textarea {
  font-family: inherit;
}

/* Устраняют други е нюансы поведения тегов разных браузеров */
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

/* Обнуляем все наши заголовки h */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ------------------------------------------------------------------------------------------------------ */
body {
  padding: 500px 50px 500px 500px;
  font-family: "Quantico", sans-serif;
  color: #2e1720;
}

.cardsContainer {
  position: relative;
  display: inline-block;
  width: 747px;
  height: 695px;
  border: 1px solid green;
}
/* CARD #1 --- START */
.cardOne--outer {
  position: absolute;
  z-index: 11;
  top: 8px;
  left: 293px;
  background: linear-gradient(157.86deg, #eafae0 0%, #dcdcd6 100%);
  width: 370px;
  height: 551px;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 4px 4px 10px 2px rgba(35, 67, 78, 0.1);

  transition: all 3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.cardOne--outer:hover {
  left: -500px;
}

.cardOne {
  padding: 322px 0 0 25px;
  width: 360px;
  height: 541px;
  background-color: #ffffff;
  background-image: url("../img/card-1/card1_image.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.userContainer {
  display: flex;
  padding: 10px 0 10px 18px;
  width: 163px;
  height: 52px;
  border-radius: 35px;
  box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.userContainer--text {
  margin-left: 10px;
}
.name {
  font-size: 14px;
  line-height: 120%;
}
.nickname {
  font-size: 10px;
  line-height: 120%;
  opacity: 0.7;
}
.cardBold {
  font-size: 20px;
  font-weight: bold;
  line-height: 120%;
  color: #000000;
}
.cardNormal {
  font-size: 16px;
  line-height: 120%;
  opacity: 0.6;
}
.containerForFirstAndSecond {
  display: flex;
}
.firstContainer {
  margin: 25px 0 0 0;
  width: 154px;
  height: 58px;
}
.firstContainer .cardNormal {
  margin: 15px 0 0 0;
}
.secondContainer {
  margin: 30px 0 0 66px;
  width: 90px;
  height: 49px;
}
.secondContainer .cardNormal {
  margin: 6px 0 0 0;
}
.thirdContainer {
  margin: 30px 0 0 0;
  width: 284px;
  height: 24px;
}
/* CARD #1 --- END */

/* CARD #2 --- START */
.cardTwo--outer {
  position: absolute;
  top: 33px;
  left: 140px;
  z-index: 10;
  background: linear-gradient(157.86deg, #eafae0 0%, #dcdcd6 100%);
  width: 370px;
  height: 551px;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 4px 4px 10px 2px rgba(35, 67, 78, 0.1);

  transition: all 3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-10.3deg);
}
.cardTwo--outer:hover {
  transform: rotate(0deg);
  left: -500px;
}

.cardTwo {
  padding: 322px 0 0 25px;
  width: 360px;
  height: 541px;
  background-color: #ffffff;
  background-image: url("../img/card-1/card2_image.jpg");
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 15px;
}

/* CARD #3 --- END */

/* CARD #3 --- START */
.cardThree--outer {
  border: 1px solid green;
  position: absolute;
  top: 50px;
  left: 80px;
  z-index: 9;
  background: linear-gradient(157.86deg, #eafae0 0%, #dcdcd6 100%);
  width: 370px;
  height: 551px;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 4px 4px 10px 2px rgba(35, 67, 78, 0.1);
  transform: rotate(-20.54deg);

  transition: all 3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.cardThree--outer:hover {
  transform: rotate(0deg);
  left: -500px;
}

.cardThree {
  padding: 322px 0 0 25px;
  width: 360px;
  height: 541px;
  background-color: #ffffff;
  background-image: url("../img/card-1/card3_image.jpg");
  background-size: auto 360px;
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 15px;
}

/* CARD #3 --- END */
